*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
    background-color: #f0f0f0;
    text-align: center;
}

ol li{
  list-style-type: none;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 3rem;
}

.card {
    background-color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 2.5rem 8rem;
    text-align: center;
    border-radius: 3px;
}

.btn {
    cursor: pointer;
    background-color: #000;
    border: 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4.8rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.btn::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.question {
    color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container {
  max-width: 114rem !important;
  margin: 0 auto;
}

.mt-4 {
    margin-top: 4rem;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
}