<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Game</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:class="container">
    <div th:if="${questions}">
        <h1>Trivia Game</h1>
        <form action="#" th:action="@{/results}" th:object="${questions}" method="post">
            <div th:each="question, iterStat : ${questions}" th:class="card">
                <p th:text="${question.question}" th:class="question">Question text here</p>
                <ol>
                    <li th:each="answer, iterStat : ${question.allPossibleAnswers}">
                        <input type="radio" th:id="|answer${question.getId()}${iterStat.index}|" th:name="|answer${question.getId()}|" th:value="${answer}" />
                        <label th:for="|answer${question.getId()}${iterStat.index}|"><span th:text="${answer}">Answer text</span></label>
                    </li>
                </ol>
            </div>
            <input type="submit" value="Submit Answers" class="btn mt-4">
        </form>
    </div>
    <div th:unless="${questions}">
        <p>No questions available.</p>
    </div>
</div>
</body>
</html>