<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Questions</title>
<!--    <link href="../static/style.css" rel="stylesheet"/>-->
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
<div th:class="container">
    <div th:if="${questions}">
        <p>Questions are available</p>
        <form action="#" th:action="@{/results}" th:object="${questions}" method="post">
            <div th:each="question, iterStat : ${questions}">
                <p th:text="${question.question}">Question text here</p>
                <ol>
                    <li th:each="answer : ${question.allPossibleAnswers}">
                        <input type="radio" th:name="|answer${question.getId()}|" th:value="${answer}" />
                        <span th:text="${answer}">Answer text</span>
                    </li>
                </ol>
            </div>
            <input type="submit" value="Submit Answers">
        </form>
    </div>
    <div th:unless="${questions}">
        <p>No questions available.</p>
    </div>
</div>
</body>
</html>