<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Questions</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
<div th:class="container">
    <div th:if="${questions}">
        <p>Questions are available</p>
        <form>
            <ul>
                <li th:each="question : ${questions.getPreparedMultipleChoiceQuestions()}">
                    <p th:text="${question.question}">Question text here</p>
                    <ol>
                        <li th:each="answer : ${question.allPossibleAnswers}" th:text="${answer}">Answer text</li>
                    </ol>
                </li>
            </ul>
        </form>
    </div>
    <div th:unless="${questions}">
        <p>No questions available.</p>
    </div>
</div>
</body>
</html>